.heroOnlyCover__handler{
    /* background-image: url('../../assets/companyImages/cover.png'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 70vh;
}
@media screen and (min-width: 1024px ) {
    .heroOnlyCover__handler{
    height: 35vh;
    }
}
@media screen and (max-width: 884px ) {
    .heroOnlyCover__handler{
    height: 35vh;
    }
}