.aboutReachSec__handler{
    margin: 60px 0;
}
.about__info{
    margin-top: 30px;
}
.info__title{
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-black);
    margin-bottom: 20px;
}
.info__title .text__blue{
    color: rgba(1, 186, 233, 1);
}
.aboutReach__numbers .box__number{
    padding: 0 15px;
    border-right: 1px solid rgba(176, 176, 176, 1);
    text-align: center;
    position: relative;

}
.aboutReach__numbers .box__number:first-child{
    padding-left: 0;
}
.aboutReach__numbers .box__number:last-child{
    border-right: none;
    padding-right: 0;
}

.aboutReach__numbers .box__number h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.aboutReach__numbers .box__number p{
    font-size: 17px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}
.aboutReach__video{
    text-align: right;
}
.aboutReach__video img{
    width: 100%;
    /* height: 166px; */
    /* height: 266px; */
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .aboutReach__video img{
        width: 100%;
        height: 170px;
    }
}
@media screen and (max-width: 600px) {
    .about__info{
        margin-bottom: 40px;
    }
    .aboutReach__numbers{
        justify-content: start;
    }
    .aboutReachSec__handler{
        margin: 0;
    }
    .info__title{
        font-size: 16px;
    }
    .aboutReach__numbers .box__number h1{
        font-size: 16px;
    }
    .aboutReach__numbers .box__number p{
        font-size: 12px;
    }
    .aboutReach__numbers .box__number{
        text-align: start;
    }
    .aboutReach__video{
        text-align: center;
        margin-bottom: 30px;
    }
    .aboutReach__video img{
        width: 340px;
        height: 113px;
    }
}