.lastMinuteDeals__handler {
    background: var(--primary-white);
    padding-bottom: 30px;
}

.lastMinuteDeal__logo__img {
    width: 248px;
    height: 97.55px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .lastMinuteDeal__logo__img {
        width: 68px;
        height: 26.75px;
        margin-bottom: -27px;
        position: relative;
        z-index: 10;
    }
}