.myFooterSec__handler{
    /* background: rgba(6, 127, 173, 0.15); */
    background: var(--main-blue-color);
    padding: 60px 0;
    color: var(--primary-white);
}
.myFooterSec__handler .footer__icons{
    display: flex;
    gap: 10px;
}
.adjustFlexDir{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__desc p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
}
.footer__icons li i{
    color: #A3A3A3;
    font-size: 16px;
    cursor: pointer;
}

/* .adjustflexWrao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
} */
.footer__listBox h5{
    font-size: 16px;
    font-weight: 600;
    /* color: rgba(7, 82, 154, 1); */
    color: var(--primary-white);
    margin-bottom: 15px;
}
.footer__listBox__items{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    /* color: var(--primary-black); */
    color: var(--primary-white);
    text-transform: capitalize;
}
.footer__listBox__items:last-child{
    margin-bottom: 0;
}
@media screen and (max-width: 600px) {
    .footer__desc p{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__icons{
        margin-bottom: 30px;
    }
    .footer__listBox{
        margin-bottom: 30px;
     }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
    .footer__listBox{
        margin-bottom: 30px;
     }
}