.showSingleQuotation__handler .product__item__content{
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
    align-items: center;

}
.showSingleQuotation__handler .product__item__content img{
    width: 52px;
    height: 52px;
    margin: 0 6px;
    display: inline-block;
}
.showSingleQuotation__handler table tr{
    vertical-align: middle;
}
.showSingleQuotation__handler table tr input{
    width: 50px;
    font-size: 12px;
    font-weight: 400;
    background-color: rgba(238, 238, 238, 1);
    color: rgba(51, 51, 51, 1);
    text-align: center;
}
.showSingleQuotation__handler .quoteTotals__handler{
    margin-top: 30px;
}
.showSingleQuotation__handler .quoteTotals__handler h3{
    font-size: 20px;
    font-weight: 500;
}
.showSingleQuotation__handler .totals__full__info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.showSingleQuotation__handler .totals__text{
    background: rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
    border-radius: 7px;
}
.showSingleQuotation__handler .totals__text h5,
.showSingleQuotation__handler .totals__prices h5
{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.showSingleQuotation__handler .totals__prices h5{
    color: rgba(0, 0, 0, 0.5);
}
.showSingleQuotation__handler .updateBtn{
    font-size: 14px;
    background: transparent;
    color: rgba(7, 82, 154, 1);
    padding: 20px 35px ;
    margin-top: 30px;
    border: 1px solid rgba(7, 82, 154, 1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.showSingleQuotation__handler .updateBtn:hover{
    background: rgba(7, 82, 154, 1);
    color: #fff;
}
.showSingleQuotation__handler .totals__have__problem h3{
    font-size: 16px;
    font-weight: 400;
}
.adjustPositione{
    display: flex;
    justify-content: end;
}
.showSingleQuotation__handler .requesterDetails__handler{
    margin-top: 60px;
}
.showSingleQuotation__handler .requesterDetails__handler h3{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}
.showSingleQuotation__handler .requesterDetails__content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 15px 30px;

}
.showSingleQuotation__handler .requesterDetails__mainInfo,
.showSingleQuotation__handler .requesterDetails__subInfo
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.showSingleQuotation__handler .requesterDetails__mainInfo .mainInfo__title h5,
.showSingleQuotation__handler .requesterDetails__subInfo .mainInfo__title h5{
    font-size: 12px;
    font-weight: 400;
}
.showSingleQuotation__handler .requesterDetails__mainInfo .mainInfo__texts h5,
.showSingleQuotation__handler .requesterDetails__subInfo .mainInfo__texts h5{
    font-size: 11px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
}
.updateBtn.reject {
    background-color: var(--primary-white);
    color: #ff2020;
    border-color: #ff2020;
}
.updateBtn.reject:hover {
    background-color: #ff2020;
    color: var(--primary-white);
}
.product__item__content i {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .showSingleQuotation__handler .totals__text h5, 
    .showSingleQuotation__handler .totals__prices h5 {
        font-size: 12px;
    }
    .showSingleQuotation__handler .totals__full__info{
        margin-bottom: 30px;
    }
    .adjustPositione{
        justify-content: start;
    }
    .showSingleQuotation__handler .requesterDetails__content{
        gap: 10px;
    }
    .showSingleQuotation__handler .requesterDetails__mainInfo .mainInfo__title h5, 
    .showSingleQuotation__handler .requesterDetails__subInfo .mainInfo__title h5{
        font-size: 10px;
    }
    .showSingleQuotation__handler .requesterDetails__mainInfo .mainInfo__texts h5,
    .showSingleQuotation__handler .requesterDetails__subInfo .mainInfo__texts h5{
        font-size: 8px;
    }
}
.indexOfTheTable {
    color: rgba(181, 183, 192, 1);
}