.productCategory__card {
    max-width: 125px;
}
.productCategory__card div {
    width: 100%;
    height: 100px;
    background-color: #F1F4F8;
}
.productCategory__card div img {
    background-color: #ffffff;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.productCategory__card p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}