.mySideBarNew .css-1t8x7v1 > .ps-menu-button:hover {
  background-color: var(--main-blue-color) !important;
}
.mySideBarNew .css-1wvake5.ps-collapsed {
  width: 60px !important;
  min-width: 60px !important;
}
.mySideBarNew .css-16jesut > .ps-menu-button:hover,
.mySideBarNew .css-1tqrhto > .ps-menu-button:hover {
  background-color: var(--main-blue-color) !important;
}
.mySideBarNew .css-18unl23 {
  background-color: var(--main-blue-color) !important;
  color: #fff;
  overflow: hidden !important;
}
.mySideBarNew .css-wlra1l {
  background-color: var(--main-blue-color) !important;
  color: #fff !important;
}
.displayListNoneForSettings .css-um1o6k{
    display: none !important;
}
