.franchiseSec__handler{
    margin: 50px 0;
}
.franchiseSec__content{
    background: linear-gradient(-72deg, #08AAE8 0%,  #067FAD 50%,  #06264D 100%);
    border-radius: 24px;
    padding: 60px 0;
    color: var(--primary-white);
}
.franchiseSec__content h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.franchiseSec__content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 30px;
}
.franchise__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.franchise__actions button{
    background: transparent;
    border: 1px solid var(--primary-white);
    color: var(--primary-white);
    padding: 10px 20px;
    border-radius: 8px;
    transition: ease-in-out .3s;
}
.franchise__actions button:hover{
    background: var(--primary-white);
    color: #067FAD;
}

@media screen and (max-width: 600px) {
    .franchiseSec__content h1{
        /* line-height: normal; */
        font-size: 25px;

    }
    .franchiseSec__content p{
        line-height: normal;
        font-size: 14px;
        padding: 0 10px;
    }
    .franchise__actions{
        gap: 10px;
    }
    .franchise__actions button{
        padding: 10px 15px;
    }
}